
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
}

.alert-info{
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #a61528;
  background-color: #fadddd;
  border-color: #f8cfcf;s
}

.listagem-livros{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container{

  padding: 50px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 75%;
  height: 100%;
  min-height: 500px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 6px 5px 0px rgba(158,158,158,1);
}

h1{
  text-align: center;
  color: #4d4848;
  font-size: 22px;
}

h2{
  text-align: left;
  color: #4d4848;
  font-size: 20px;
}

.novo-livro{
  text-align: left;
  padding: 20px;
}

.perfil{
  padding: 20px;
  text-align: left;
}

.lista-leituras{
  padding: 10px 20px 20px 20px;
  text-align: left;
  border-top: 1px solid;
  border-color: #c8c8c8;
}
.novo-livro{
  padding: 10px 20px 20px 20px;
  text-align: left;
  border-top: 1px solid;
  border-color: #c8c8c8;
}
.comentario, .livro{
  padding: 5px;
  margin: 5px;
  background-color: rgba(158,158,158,0.2);
  text-align: left;
  box-shadow: 0px 6px 5px 0px rgba(158,158,158,0.4);
}

.livro{
  width: 30%;
  text-align: center;
}
.botoes{
  padding: 5px;
  text-align: left;
}
.botoes-pagina{
  text
  padding: 5px;
  text-align: center;
}
.imagem-capa-livro{
  max-width: 200px;
}
/*.button{
  padding: 8px 48px;
  border-radius: 8px;
  border: none;
  background-color: #87DD8A;
  font-size: 15px;
  color: black;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {background-color: #3e8e41}

.button:active{
  background-color: #3e8e41;
  transform: translateY(4px);
}*/


/*color: red;
background-color: rgba(255, 0, 0, 0.2);
box-sizing: border-box;
border: 1px solid red;
width: 240px;
padding: 8px;
font-size: 15px;

color: #815c15;
background-color: #feefd0;
border-color: #fde9bd;*/
